dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="libs/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="libs/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="libs/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <title>Football | Homepage</title>
  </head>
  <body>
    <section class="top-section">
      <header>
        <div class="container clearfix"><a href="#" class="logo"></a>
          <div class="phone-wrapper clearfix">
            <ul class="reset wrap">
              <li>г. Харьков, пл. Восстания, 7/8</li>
              <li><a href="tel:+380664026544">+38 (066)<b>402-65-44</b></a></li>
              <li><a href="tel:+380683315163">+38 (068)<b>331-51-63</b></a></li>
            </ul>
            <ul class="reset wrap">
              <li>г. Харьков, ул. Полтавский шлях, 40</li>
              <li><a href="tel:+380964497499">+38 (096)<b>449-74-99</b></a></li>
              <li><a href="tel:+380668395233">+38 (066)<b>839-52-33</b></a></li>
            </ul>
            <ul class="reset wrap">
              <li>г. Харьков, ул. Чернышевская, 63Д</li>
              <li><a href="tel:+380668395233">+38 (066)<b>839-52-33</b></a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="preview-wrapper clearfix">
        <div class="container">
          <div class="hidden-text">
            <h2>Заполни анкету и участвуй в розыгрыше билета на<span>ЧЕМПИОНАТ МИРА!</span></h2>
          </div>
          <div class="wrap">
            <h1>Заполни анкету</h1>
          </div>
          <div class="wrap">
            <p>и участвуй<br>в розыгрыше билета на</p>
            <h2>ЧЕМПИОНАТ МИРА!</h2>
          </div>
          <div class="team-wrap clearfix">
            <div class="img-wrap"><img src="img/ukraine_flag.png" alt="ukraine"></div>
            <div class="img-wrap"><img src="img/turkey_flag.png" alt="turkey"></div>
            <div class="text-wrap">
              <p><b>Украина-Турция</b> стадион «Металлист» 2 сентября 2017 года</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="form-section">
      <div class="container clearfix">
        <div class="img-wrap girl"><img src="img/girl.png" alt="girl"></div>
        <div class="form-wrap">
          <div class="border-wrap">
            <form id="mainForm">
              <div class="input-wrap">
                <input type="text" name="userName" placeholder="Ваше имя">
              </div>
              <div class="input-wrap">
                <input type="text" name="userPhone" placeholder="Ваш номер телефона">
              </div>
              <div class="input-wrap">
                <input type="text" name="userPhone" placeholder="Ваш E-mail">
              </div>
              <div class="input-wrap birth-wrap"><span>Дата вашего рождения:</span>
                <input id="datepicker" type="text" name="userBirthDate" placeholder="__.__.____">
              </div>
              <button type="submit" class="form-btn">Отправить</button>
            </form>
            <div class="valid-block">
              <div class="valid-border">
                <p>
                  Спасибо!<br>
                  Мы свяжемся с Вами<br>
                  в ближайшее время!
                </p>
              </div>
            </div>
            <div class="invalid-block">
              <div class="invalid-border">
                <p>
                  Заполните,<br>
                  пожалуйста,<br>
                  все поля.
                </p>
              </div>
            </div>
            <div class="code-block"><strong>47TEL56SM12</strong></div>
          </div>
        </div>
        <div class="text-wrap"><strong>+15</strong>
          <div class="text">минут <b>бесплатно</b> к любому массажу в августе!</div>
        </div>
      </div>
    </section>
    <section class="bottom-section"></section>
    <script src="libs/jquery/jquery-3.1.0.min.js"></script>
    <script src="libs/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="libs/jquery-ui-1.12.1.custom/localization-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
    <script src="libs/validation/jquery.form.min.js"></script>
    <script src="libs/validation/jquery.validate.js"></script>
    <script src="libs/validation/contact.form.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>

src/jade/index.jade
extends ./components/layout.jade

block title
    title Football | Homepage

block content
    section.top-section
        header
            .container.clearfix
                a(href='#').logo
                .phone-wrapper.clearfix
                    ul.reset.wrap
                        li г. Харьков, пл. Восстания, 7/8
                        li
                            a(href='tel:+380664026544') +38 (066)
                                b 402-65-44
                        li
                            a(href='tel:+380683315163') +38 (068)
                                b 331-51-63
                    ul.reset.wrap
                        li г. Харьков, ул. Полтавский шлях, 40
                        li
                            a(href='tel:+380964497499') +38 (096)
                                b 449-74-99
                        li
                            a(href='tel:+380668395233') +38 (066)
                                b 839-52-33
                    ul.reset.wrap
                        li г. Харьков, ул. Чернышевская, 63Д
                        li
                            a(href='tel:+380668395233') +38 (066)
                                b 839-52-33
        .preview-wrapper.clearfix
            .container
                .hidden-text
                    h2 Заполни анкету и участвуй в розыгрыше билета на
                        span ЧЕМПИОНАТ МИРА!
                .wrap
                    h1 Заполни анкету
                .wrap
                    p и участвуй<br>в розыгрыше билета на
                    h2 ЧЕМПИОНАТ МИРА!
                .team-wrap.clearfix
                    .img-wrap
                        img(src='img/ukraine_flag.png' alt='ukraine')
                    .img-wrap
                        img(src='img/turkey_flag.png' alt='turkey')
                    .text-wrap
                        p <b>Украина-Турция</b> стадион «Металлист» 2 сентября 2017 года
    section.form-section
        .container.clearfix
            .img-wrap.girl
                img(src='img/girl.png' alt='girl')
            .form-wrap
                .border-wrap
                    form#mainForm
                        .input-wrap
                            input(type='text' name='userName' placeholder='Ваше имя')
                        .input-wrap
                            input(type='text' name='userPhone' placeholder='Ваш номер телефона')
                        .input-wrap
                            input(type='text' name='userPhone' placeholder='Ваш E-mail')
                        .input-wrap.birth-wrap
                            span Дата вашего рождения:
                            input#datepicker(type='text' name='userBirthDate' placeholder='__.__.____')
                        button(type='submit').form-btn Отправить
                    .valid-block
                        .valid-border
                            p.
                                Спасибо!<br>
                                Мы свяжемся с Вами<br>
                                в ближайшее время!
                    .invalid-block
                        .invalid-border
                            p.
                                Заполните,<br>
                                пожалуйста,<br>
                                все поля.
                    .code-block
                        strong 47TEL56SM12
            .text-wrap
                strong +15
                .text минут <b>бесплатно</b> к любому массажу в августе!
    section.bottom-section
